<div class="movie-details" *ngIf="movie">

    <section class="hero"
        [style.background-image]="'linear-gradient(to right, rgba(20,20,20,.95) 20%, rgba(20,20,20,.5) 60%, rgba(20,20,20,.9)), 
        url(' + movie.thumbnailUrl + ')'">

        <div class="content">
            <span class="netflix-tag">NETFLIX</span>
            <h1>{{ movie.title }}</h1>

            <div class="meta">
                <span>{{ movie.releaseYear }}</span>
                <span>{{ movie.duration }} min</span>
                <span>HD</span>
            </div>

            <p class="description"> {{ movie.description }} </p>

            <div class="genres">
                <span class="genre" *ngFor="let genre of movie.genres"> {{ genre }} </span>
            </div>

            <div class="buttons">
                <button class="play" (click)="playMovie(movie)"> ▶ Play </button>

                <button class="action-button" [class.active]="isLiked" (click)="toggleLike()">❤️</button>
                <button class="action-button" [class.active]="isDisliked" (click)="toggleDislike()">👎</button>
                <button class="action-button" [class.active]="isWatchLater" (click)="toggleWatchLater()">🔖</button>
            </div>
        </div>

    </section>

    <section class="details">

        <div class="poster">
            <img [src]="getThumbnailUrl(movie)" [alt]="movie.title">
        </div>

        <div class="info">

            <h2>About this movie</h2>

            <p>{{ movie.description }}</p>

            <div class="grid">

                <div>
                    <h4>Release</h4>
                    <p>{{ movie.releaseYear }}</p>
                </div>

                <div>
                    <h4>Duration</h4>
                    <p>{{ movie.duration }} min</p>
                </div>

                <div>
                    <h4>Genres</h4>

                    <div class="genres">
                        <span
                            class="genre"
                            *ngFor="let genre of movie.genres">
                            {{ genre }}
                        </span>
                    </div>

                </div>

            </div>

        </div>

    </section>

</div>