.watch-page {
    min-height: 100vh;
    background:
        radial-gradient(
            circle at top,
            #333 0%,
            #141414 35%,
            #000 100%
        );

    color: white;
    padding-bottom: 60px;
}


/* VIDEO */

.player-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

video {
    width: 100%;
    height: 680px;
    background: black;
    border-radius: 8px;
    object-fit: contain;
    box-shadow: 0 20px 60px rgba(0,0,0,0.8);
}

/* INFO */
.movie-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px 20px;
}

.movie-info h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0 0 15px;
    letter-spacing: -1px;
}

.meta {
    display:flex;
    gap:10px;
    color:#46d369;
    font-size:16px;
    margin-bottom:20px;
}

.movie-info p {
    max-width:800px;
    color:#b3b3b3;
    font-size:18px;
    line-height:1.6;
}

/* responsive */
@media(max-width:768px){
    .player-container{
        padding-top:20px;
    }

    video{
        height:300px;
        border-radius:0;
    }

    .movie-info h1{
        font-size:30px;
    }

    .movie-info{
        padding:25px;
    }
}