<div class="search-page">

    <div class="search-bar">
        <input
            type="text"
            placeholder="Search movies, TV shows..."
            [(ngModel)]="query"
            (ngModelChange)="searchMovies($event)">
    </div>


    <!-- TRENDING -->
    <section *ngIf="query === ''">

        <h2>Trending Movies</h2>

        <div class="movies">

            <div class="card"
                 *ngFor="let movie of data"
                 (click)="openMovie(movie)">

                <img 
                    [src]="movie.thumbnailUrl"
                    [alt]="movie.title">

                <div class="movie-info">

                    <h3>{{ movie.title }}</h3>

                    <p>{{ movie.releaseYear }}</p>

                </div>

            </div>

        </div>

    </section>



    <!-- SEARCH RESULTS -->
    <section *ngIf="query !== ''">

        <h2>Search Results</h2>

        <div class="movies">

            @for (movie of searchData; track movie._id) {

                <div class="card"
                     (click)="openMovie(movie)">

                    <img 
                        [src]="movie.thumbnailUrl"
                        [alt]="movie.title">


                    <div class="movie-info">

                        <h3>{{ movie.title }}</h3>

                        <p>{{ movie.releaseYear }}</p>

                        <p>{{ movie.description }}</p>

                    </div>

                </div>

            }

        </div>

    </section>

</div>
