<div class="search-page">
    <!-- Navigacioni meni -->
  <header class="navbar" [ngClass]="{'scrolled': isScrolled}">
    <div class="nav-left">
      <div class="logo">NETFLIX</div>
      <nav class="nav-links">
        <a routerLink="/home" routerLinkActive="active">{{ 'NAV_MENU.HOME' | translate }}</a>
        <a href="#">{{ 'NAV_MENU.TV_SHOWS' | translate }}</a>
        <a href="#">{{ 'NAV_MENU.MOVIES' | translate }}</a>
        <a href="my-list">{{ 'NAV_MENU.MY_List' | translate }}</a>
      </nav>
    </div>
   
    <div class="nav-right">
      <button class="icon-btn">
        <span class="material-icons" (click)="search()">search</span>
      </button>
      <div class="profile-menu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="Profil" (click)="profile()">
      </div>
    </div>
  </header>

    <div class="search-bar">
        <input type="text" placeholder="{{ 'SEARCH.SEARCH' | translate }}"
            [(ngModel)]="query" (ngModelChange)="searchMovies($event)">
    </div>

    <!-- TRENDING -->
    <section *ngIf="query === ''">

        <h2>{{ 'SEARCH.SUBTITLE' | translate }}</h2>

        <div class="movies">
            <div class="card" *ngFor="let movie of data" (click)="openMovie(movie)">
                <img [src]="getThumbnailUrl(movie)" [alt]="movie.title">

                <div class="movie-info">
                    <h3>{{ movie.title }}</h3>
                    <p>{{ movie.releaseYear }}</p>
                </div>

            </div>
        </div>
    </section>

    <!-- SEARCH RESULTS -->
    <section *ngIf="query !== ''">

        <h2>{{ 'SEARCH.RESULTS' | translate }}</h2>

        <div class="movies">
            @for (movie of searchData; track movie._id) {
                <div class="card" (click)="openMovie(movie)">
                    <img [src]="getThumbnailUrl(movie)" [alt]="movie.title">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.releaseYear }}</p>
                        <p>{{ movie.description }}</p>
                    </div>
                </div>
            }
        </div>
    </section>
</div>