<div class="profile-page">
  <header class="navbar">
    <div class="logo">NETFLIX</div>

    <nav class="nav-links">
      <a routerLink="/home">{{ 'NAV_MENU.HOME' | translate }}</a>
      <a routerLink="/tv-shows">{{ 'NAV_MENU.TV_SHOWS' | translate }}</a>
      <a routerLink="/movies">{{ 'NAV_MENU.MOVIES' | translate }}</a>
      <a routerLink="/my-list" class="active">{{ 'NAV_MENU.MY_List' | translate }}</a>
    </nav>

    <div class="nav-right">
      <button class="icon-btn">
        <span class="material-icons" (click)="search()">search</span>
      </button>
      <div class="profile-menu">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png" alt="Profil" (click)="profile()">
      </div>
    </div>
  </header>

  <main class="content">
    <h1>{{ 'NAV_MENU.MY_List' | translate }}</h1>

    <p class="subtitle">{{ 'MY_LIST.SUBTITLE' | translate }}</p>
    <div class="loading" *ngIf="isLoading">{{ 'MY_LIST.LOADING' | translate }}...</div>

    <!-- LIKED -->
    <section class="content-section" *ngIf="!isLoading">
      <div class="section-header">
        <h2>{{ 'MY_LIST.LIKED' | translate }}</h2>
        <span>{{ likedMovies.length }}</span>
      </div>


      <!-- LIKED MOVIES -->
      <div class="movie-row" *ngIf="likedMovies.length > 0">

       <div class="movie-card" *ngFor="let movie of likedMovies">

        <img [src]="getThumbnailUrlForWatch(movie)" [alt]="movie.title"/>

          <div class="movie-overlay">

            <h3>{{ movie.title }}</h3>
            <p>{{ movie.description }}</p>

            <div class="actions">
              <button class="play-button" > ▶ </button>
              <button class="remove-button" > ✕</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- WATCH LATER -->
    <section class="content-section" *ngIf="!isLoading">

      <div class="section-header">
        <h2>{{ 'MY_LIST.WATCH_LATER' | translate }}</h2>
        <span>{{ watchLaterMovies.length }}</span>
      </div>

      <!-- WATCH LATER MOVIES -->
      <div class="movie-row" *ngIf="watchLaterMovies.length > 0">
        <div class="movie-card" *ngFor="let movie of watchLaterMovies">

          <img [src]="getThumbnailUrlForWatch(movie)" [alt]="movie.title"/>

          <div class="movie-overlay">
            <h3>{{ movie.title }}</h3>
            <div class="actions">
              <button class="play-button" >▶</button>
              <button class="remove-button">✕</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>