<div class="profile-page">
  <header class="navbar">
    <div class="logo">NETFLIX</div>

    <nav class="nav-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/tv-shows">TV Shows</a>
      <a routerLink="/movies">Movies</a>
      <a routerLink="/my-list" class="active">My List</a>
    </nav>

    <div class="nav-right">
      <span class="profile-name">My Profile</span>
    </div>
  </header>

  <main class="content">
    <h1>My List</h1>

    <p class="subtitle">Movies and shows you've saved</p>
    <div class="loading" *ngIf="isLoading">Loading...</div>

    <!-- LIKED -->
    <section class="content-section" *ngIf="!isLoading">
      <div class="section-header">
        <h2> Liked</h2>
        <span>{{ likedMovies.length }}</span>
      </div>


      <!-- LIKED MOVIES -->
      <div class="movie-row" *ngIf="likedMovies.length > 0">

       <div class="movie-card" *ngFor="let movie of likedMovies">

        <img [src]="getThumbnailUrlForWatch(movie)" [alt]="movie.title"/>

          <div class="movie-overlay">

            <h3>{{ movie.title }}</h3>
            <p>{{ movie.description }}</p>

            <div class="actions">
              <button class="play-button" > ▶ </button>
              <button class="remove-button" > ✕</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- WATCH LATER -->
    <section class="content-section" *ngIf="!isLoading">

      <div class="section-header">
        <h2>Watch Later</h2>
        <span>{{ watchLaterMovies.length }}</span>
      </div>


      <!-- WATCH LATER MOVIES -->
      <div class="movie-row" *ngIf="watchLaterMovies.length > 0">
        <div class="movie-card" *ngFor="let movie of watchLaterMovies">

          <img [src]="getThumbnailUrlForWatch(movie)" [alt]="movie.title"/>

          <div class="movie-overlay">
            <h3>{{ movie.title }}</h3>
            <div class="actions">
              <button class="play-button" >▶</button>
              <button class="remove-button">✕</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>